@using Models;
@model IEnumerable<Employees>

@{
    ViewBag.Title = "首頁";
}

<div class="container">
    <p>
        @Html.ActionLink("新增Employee", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr class="bg-primary">
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TitleOfCourtesy)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="bg-light">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("刪除", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-danger", @onclick = "if(!confirm('確實要刪除嗎?')) return false;" })
                </td>
            </tr>
        }
    </table>
</div>
